<p>This is a page to help demonstrate routing.</p>
<!-- <button class="btn btn-primary" (click)="open = true">Show modal</button> -->
<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">Welcome to Creto</h3>
  <div class="modal-body">
    <div>
      <form>
          <section class="form-block">
            <div class="form-group">
                <label for="aForm_1">Username</label>
                <input matInput type="text" placeholder="username">
              </div>
            <div class="form-group">
                <label for="aForm_1">Password</label>
                <input matInput type="password" placeholder="password">
            </div>
          </section>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button (click)="open = false">Home</button>
    <button type="button" class="btn btn-primary" (click)="open = false">Login</button>
  </div>
</clr-modal>
<button mat-button>My Button</button>
