<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false">
    <h3 class="modal-title">Welcome to Creto</h3>
    <div class="modal-body">
      <div>
        <form [formGroup]="loginForm">
            <section class="form-block">
              <div class="form-group">
                  <label for="aForm_1">Username</label>
                  <input matInput type="text" placeholder="username" formControlName="username">
                </div>
              <div class="form-group">
                  <label for="aForm_1">Password</label>
                  <input matInput type="password" placeholder="password" formControlName="password">
              </div><br><br>
              <button type="submit" class="btn btn-primary" (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Login</button>
              <button type="button" class="btn btn-info-outline" (click)="home()">Register User</button>
              <label class="btn-primary" ngbButtonLabel>
                Right
              </label>
            </section>
        </form>
      </div>
    </div>
    <!-- <div class="modal-footer">
    </div> -->
  </clr-modal>

