<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false">
    <h3 class="modal-title">Welcome to Creto</h3>
    <div class="modal-body">
      <div>
        <form [formGroup]="loginForm">
            <section class="form-block">
              <div class="form-group">
                  <label for="aForm_1">Username</label>
                  <input matInput type="text" placeholder="username" formControlName="username">
                </div>
              <div class="form-group">
                  <label for="aForm_1">Password</label>
                  <input matInput type="password" placeholder="password" formControlName="password">
              </div>
              <div class="form-group">
                  <label for="selects_1">Select Domain</label>
                  <div class="select">
                      <select id="selects_1">
                          <option>Sheduler user</option>
                          <option>C2C</option>
                          <option>Admin</option>
                      </select>
                  </div>
              </div>
            </section>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info-outline" (click)="home()">Home</button>
      <button type="submit" class="btn btn-primary" (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Login</button>
    </div>
  </clr-modal>