<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <!-- <span class="clr-icon clr-clarity-logo"></span> -->
        <clr-icon shape="cloud" style="color: red"></clr-icon>
        <span class="title">Creto</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" *ngIf="loggedIn"><span class="nav-text">Home</span></a>            
        <!-- <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" *ngIf="loggedIn"><span class="nav-text">About</span></a> -->
        <a class="nav-link" [routerLink]="['/task']" routerLinkActive="active" *ngIf="loggedIn"><span class="nav-text">Task Tracking</span></a>                
      </div>
    <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon" *ngIf="loggedIn">
                <clr-icon shape="logout" style="color: rgb(255, 0, 212)" (click)="logout()"></clr-icon>
            </a>
            <a href="javascript://" class="nav-link nav-icon" *ngIf="!loggedIn">
              <clr-icon shape="mouse" style="color: rgb(193, 245, 4)" (click)="login()"></clr-icon>             
            </a>
    </div>
  </clr-header>
  <!-- <div class="content-container"> -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  <!-- </div> -->
</clr-main-container>