
<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'">
    <h3 class="modal-title"><strong>Task Creation</strong></h3>
    <div class="modal-body">
      <div>
        <form [formGroup]="addTaskForm">
              <section class="form-block">
                <div class="form-group">
                    <label >Title</label>
                    <input matInput type="text" placeholder="please write title" formControlName="title">
                </div>
                <div class="form-group">
                    <label >Description</label>
                    <textarea matInput placeholder="description" formControlName="description"></textarea>
                </div>
                <div class="form-group">
                    <label >Assignee</label>
                    <input matInput type="text" placeholder="assignee" formControlName="assignee">
                </div>
               <div class="form-group">
                  <label >Start Date</label>
                  <input matInput type="date" placeholder="Start Date" formControlName="startDate">
              </div>
              <div class="form-group">
                <label >Status</label>
                <input matInput type="text" placeholder="Status of the task" formControlName="status">
             </div>
             <div class="form-group">
              <label >Type</label>
              <div class="select">
                <select id="type" formControlName="type">
                    <option>Support</option>
                    <option>Maintainance</option>
                    <option>CR</option>
                    <option>MIO</option>
                    <option>NBT</option>
                </select>
            </div>

            </div>
            <div class="form-group">
              <label >Dependency</label>
              <input matInput type="text" placeholder="Dependency From other team" formControlName="dependency">
            </div>
                <!-- </d iv> -->
                <div class="form-group">
                    <label >Area of Work</label>
                    <div class="select">
                        <select id="area_work" formControlName="area_work">
                            <option>Capex</option>
                            <option>Opex</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit"  align="center">Create Task</button>
                </div>
            </section>
        </form>
      </div>
    </div>
    <!-- <div class="modal-footer">
    </div> -->
  </clr-modal>
  <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
        <ngb-panel  title="Task List" id="config-panel-one" >
          <ng-template ngbPanelContent>
                <button class="btn btn-icon" (click)="openAddTask()"><clr-icon shape="plus"></clr-icon></button>
                <button class="btn btn-icon btn-primary"><clr-icon shape="pencil"></clr-icon></button>
                <button class="btn btn-icon btn-danger"><clr-icon shape="trash"></clr-icon></button>

          </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <table class="table">
            <thead>
                <tr>
                    <th class="left">Wizard</th>
                    <th>Allegiance</th>
                    <th>Triwizard Champion?</th>
                    <th>Can Cast Fireball</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">Harry</td>
                    <td>Gryffindor</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="left">Gandalf</td>
                    <td>Hobbits</td>
                    <td>Maybe?</td>
                    <td>I don&apos;t think so...</td>
                </tr>
                <tr>
                    <td class="left">Obi-Wan Kenobi</td>
                    <td>Republic/Rebellion</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="left">Merlin</td>
                    <td>King Arthur</td>
                    <td>Probably invented the tournament</td>
                    <td>Solid maybe</td>
                </tr>
            </tbody>
        </table>
